{% extends "layout.html" %}
{% block body %}
    <h2><center>log in</center></h2>
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <form action="{{ url_for('login') }}" method=post>
        <dl>
            <center><dt>Email:</center>
            <center><dd><input type=text name=email></center>
            <br>
            <center><dt>Password:</center>
            <center><dd><input type=password name=password></center>
        </dl>
    <p align="center"><input type=submit value="log in"></p>
    </form>
{% endblock %}
