{% extends "layout.html" %}
{% block body%}
<form method="POST">
<h3 align="center"> Search with Job Skill</h3>
 <p align="center">Search jobs with the skill keywords</p>
<h4 align = 'center'> Title: <input type=text name="keyword"> </h4>
 <p align="center"><input type=submit value=Search></p>
</form>
<body>
  <h5>Results with key word: {{keyword}}</h5>
  <table border="1">
      <tr>
        <th>Job Name</th>
         <th>Agency</th>
         <th>Unit</th>
         <th>Low_salary</th>
         <th>High_salary</th>
         <th>Frequency</th>
        </tr>
    {% for n in data %}
    <tr>
    <td>&nbsp{{n[0]}}</td>
    <td>&nbsp{{n[1]}}</td>
     <td>&nbsp{{n[2]}}</td>
    <td>&nbsp{{n[3]}}</td>
     <td>&nbsp{{n[4]}}</td>
     <td>&nbsp{{n[5]}}</td>
    </tr>
    {% endfor %}
    </table>

</body>

{% endblock %}